In [18]:
import os
import sys

def adding_module_path():
    module_path = os.path.abspath(os.path.sep.join([".."]*2))

    if module_path not in sys.path:
        sys.path.append(module_path)

adding_module_path()

In [19]:
from points.methods import get_n_gram_table, translate, translate_with, blank_text, chi, chi_calc, find_min, find_not_decrypted
import pandas as pd
from collections import Counter

In [20]:
cipher = "RUBLFGSGSILFTSLFGZOOSRHGLIBSZWSZWZXSZNKRLMGLHGZMWFKULIRGGLHSLDZWLFYGRMTDLIOWGSZGZXSROWXZMGSRMPZMWKLHHRYOBWLRGKIZXGRXZOOBBLFDLFOWMGXLMHGZMGOBIFMZXILHHULOPHGLWZBDSLXOZRNGSZGZXSROWWLMGPMLDZMBGSRMTZXSROWHYIZRMHGZIGHUFMXGRLMRMTZGYRIGSZMWSZHZNLMTHGRGHNZMBRMUZMGXLMELOFGRLMHGSLFHZMWHLUWLINZMGZGLNHRMGLDSRXSTLWSZHKFGZNBHGRXKLHHRYRORGBULIMLGRXRMTZMZWFOGHZXGZMWURTFIRMTLFGRGHKFIKLIG"

In [21]:
df = get_n_gram_table(cipher, 3)
df

30 295

          Current          Ref
0    (ZMW, 1.355)  (THE, 1.81)
1    (RMT, 1.355)  (AND, 0.73)
2    (ZXS, 1.084)  (ING, 0.72)
3    (ZMG, 1.084)  (ENT, 0.42)
4    (LFG, 0.813)  (ION, 0.42)
..            ...          ...
290  (GHK, 0.271)       (-, 0)
291  (KFI, 0.271)       (-, 0)
292  (FIK, 0.271)       (-, 0)
293  (IKL, 0.271)       (-, 0)
294  (KLI, 0.271)       (-, 0)

[295 rows x 2 columns]

In [22]:
df = get_n_gram_table(cipher, 2)
df.iloc[0:20, :]

30 164

        Current         Ref
0   (ZM, 3.243)  (TH, 2.71)
1   (GZ, 2.432)  (HE, 2.33)
2   (RM, 2.432)  (IN, 2.03)
3   (LF, 2.162)  (ER, 1.78)
4   (GS, 2.162)  (AN, 1.61)
5   (HG, 2.162)  (RE, 1.41)
6   (SZ, 2.162)  (ES, 1.32)
7   (MG, 2.162)  (ON, 1.32)
8   (GR, 2.162)  (ST, 1.25)
9   (SR, 1.892)  (NT, 1.17)
10  (ZX, 1.892)  (EN, 1.13)
11  (LM, 1.892)  (AT, 1.12)
12  (GL, 1.622)  (ED, 1.08)
13  (LI, 1.622)  (ND, 1.07)
14  (MT, 1.622)  (TO, 1.07)
15  (FG, 1.351)  (OR, 1.06)
16  (XS, 1.351)   (EA, 1.0)
17  (LH, 1.351)  (TI, 0.99)
18  (MW, 1.351)  (AR, 0.98)
19  (RG, 1.351)  (TE, 0.98)

In [23]:
df = get_n_gram_table(cipher, 1)
df

26 21

        Current        Ref
0    (G, 11.59)  (E, 12.1)
1   (L, 10.243)  (T, 8.94)
2   (Z, 10.243)  (A, 8.55)
3    (M, 8.895)  (O, 7.47)
4    (R, 8.625)  (I, 7.33)
5    (H, 6.739)  (N, 7.17)
6     (S, 5.93)  (S, 6.73)
7    (W, 5.121)  (R, 6.33)
8    (F, 4.313)  (H, 4.96)
9    (O, 4.313)  (L, 4.21)
10   (X, 4.313)  (D, 3.87)
11   (I, 4.043)  (C, 3.16)
12   (B, 2.965)  (U, 2.68)
13   (T, 2.426)  (M, 2.53)
14   (U, 2.156)  (F, 2.18)
15   (K, 2.156)  (G, 2.09)
16   (N, 1.887)  (P, 2.07)
17   (D, 1.617)  (W, 1.83)
18   (Y, 1.348)  (Y, 1.72)
19   (P, 0.809)   (B, 1.6)
20    (E, 0.27)  (V, 1.06)
21       (-, 0)  (K, 0.81)
22       (-, 0)  (J, 0.22)
23       (-, 0)  (X, 0.19)
24       (-, 0)  (Z, 0.11)
25       (-, 0)   (Q, 0.1)

In [24]:
key = {
    #the trigramy
    "Z": "T",
    "M": "H",
    "W": "E",
    "L": 'E',
    
    
    
}

In [25]:
first = blank_text(cipher, key)

In [26]:
first

'_________________T__________TE_TET__T____H____THE_____________TE_____H_____E__T_T____E_TH___H_THE________E_____T____T__________EH___H__TH_____HT____________ET______T____T_T____EE_H__H__TH____H_T____E___T_H__T_____H____H_H_T______THE_T_T__H_______TH__H_TH___H_______H______THE___E___TH_T_____H_________E_T____T____________________H_____H_THTE____T__THE______H______________'

In [15]:
cipher

'RUBLFGSGSILFTSLFGZOOSRHGLIBSZWSZWZXSZNKRLMGLHGZMWFKULIRGGLHSLDZWLFYGRMTDLIOWGSZGZXSROWXZMGSRMPZMWKLHHRYOBWLRGKIZXGRXZOOBBLFDLFOWMGXLMHGZMGOBIFMZXILHHULOPHGLWZBDSLXOZRNGSZGZXSROWWLMGPMLDZMBGSRMTZXSROWHYIZRMHGZIGHUFMXGRLMRMTZGYRIGSZMWSZHZNLMTHGRGHNZMBRMUZMGXLMELOFGRLMHGSLFHZMWHLUWLINZMGZGLNHRMGLDSRXSTLWSZHKFGZNBHGRXKLHHRYRORGBULIMLGRXRMTZMZWFOGHZXGZMWURTFIRMTLFGRGHKFIKLIG'

In [16]:
chi(cipher, "T", key)

     rule                                           new_text         chi
E  T => E  RUBLFGSGSILFESLFGZOOSRHGLIBSZWSZWZXSZNKRLMGLHG...  168.257610
N  T => N  RUBLFGSGSILFNSLFGZOOSRHGLIBSZWSZWZXSZNKRLMGLHG...  168.257775
I  T => I  RUBLFGSGSILFISLFGZOOSRHGLIBSZWSZWZXSZNKRLMGLHG...  168.257927
D  T => D  RUBLFGSGSILFDSLFGZOOSRHGLIBSZWSZWZXSZNKRLMGLHG...  168.257935
O  T => O  RUBLFGSGSILFOSLFGZOOSRHGLIBSZWSZWZXSZNKRLMGLHG...  168.257939
P  T => P  RUBLFGSGSILFPSLFGZOOSRHGLIBSZWSZWZXSZNKRLMGLHG...  168.258066
S  T => S  RUBLFGSGSILFSSLFGZOOSRHGLIBSZWSZWZXSZNKRLMGLHG...  168.258111
U  T => U  RUBLFGSGSILFUSLFGZOOSRHGLIBSZWSZWZXSZNKRLMGLHG...  168.258215
Y  T => Y  RUBLFGSGSILFYSLFGZOOSRHGLIBSZWSZWZXSZNKRLMGLHG...  168.258339
R  T => R  RUBLFGSGSILFRSLFGZOOSRHGLIBSZWSZWZXSZNKRLMGLHG...  168.258374
H  T => H  RUBLFGSGSILFHSLFGZOOSRHGLIBSZWSZWZXSZNKRLMGLHG...  168.258400
F  T => F  RUBLFGSGSILFFSLFGZOOSRHGLIBSZWSZWZXSZNKRLMGLHG...  168.258897
B  T => B  RUBLFGSGSILFBSLFGZOOSRHGLIBSZWSZWZXSZNKRLMGLHG...  168.258938
L  T => L  RUBLFGSGSILFLSLFGZOOSRHGLIBSZWSZWZXSZNKRLMGLHG...  168.258996
W  T => W  RUBLFGSGSILFWSLFGZOOSRHGLIBSZWSZWZXSZNKRLMGLHG...  168.259391
M  T => M  RUBLFGSGSILFMSLFGZOOSRHGLIBSZWSZWZXSZNKRLMGLHG...  168.259676
K  T => K  RUBLFGSGSILFKSLFGZOOSRHGLIBSZWSZWZXSZNKRLMGLHG...  168.259764
G  T => G  RUBLFGSGSILFGSLFGZOOSRHGLIBSZWSZWZXSZNKRLMGLHG...  168.260881
X  T => X  RUBLFGSGSILFXSLFGZOOSRHGLIBSZWSZWZXSZNKRLMGLHG...  168.273058
Z  T => Z  RUBLFGSGSILFZSLFGZOOSRHGLIBSZWSZWZXSZNKRLMGLHG...  168.313090
Q  T => Q  RUBLFGSGSILFQSLFGZOOSRHGLIBSZWSZWZXSZNKRLMGLHG...  168.374519
J  T => J  RUBLFGSGSILFJSLFGZOOSRHGLIBSZWSZWZXSZNKRLMGLHG...  168.503505
V  T => V  RUBLFGSGSILFVSLFGZOOSRHGLIBSZWSZWZXSZNKRLMGLHG...  169.425874
C  T => C  RUBLFGSGSILFCSLFGZOOSRHGLIBSZWSZWZXSZNKRLMGLHG...  171.715434
A  T => A  RUBLFGSGSILFASLFGZOOSRHGLIBSZWSZWZXSZNKRLMGLHG...  177.457676
T  T => T  RUBLFGSGSILFTSLFGZOOSRHGLIBSZWSZWZXSZNKRLMGLHG...  177.865977

In [17]:
find_not_decrypted(cipher, key)

      rule                                           new_text         chi
N   E => N  RUBLFGSGSILFTSLFGZOOSRHGLIBSZWSZWZXSZNKRLMGLHG...  164.727384
T   E => T  RUBLFGSGSILFTSLFGZOOSRHGLIBSZWSZWZXSZNKRLMGLHG...  164.727384
D   E => D  RUBLFGSGSILFTSLFGZOOSRHGLIBSZWSZWZXSZNKRLMGLHG...  164.727394
P   E => P  RUBLFGSGSILFTSLFGZOOSRHGLIBSZWSZWZXSZNKRLMGLHG...  164.727395
I   E => I  RUBLFGSGSILFTSLFGZOOSRHGLIBSZWSZWZXSZNKRLMGLHG...  164.727401
..     ...                                                ...         ...
A   Y => A  RUBLFGSGSILFTSLFGZOOSRHGLIBSZWSZWZXSZNKRLMGLHG...  184.870318
A   B => A  RUALFGSGSILFTSLFGZOOSRHGLIASZWSZWZXSZNKRLMGLHG...  184.990650
A   K => A  RUBLFGSGSILFTSLFGZOOSRHGLIBSZWSZWZXSZNARLMGLHG...  185.783189
A   Z => A  RUBLFGSGSILFTSLFGAOOSRHGLIBSAWSAWAXSANKRLMGLHG...  186.389783
A   X => A  RUBLFGSGSILFTSLFGZOOSRHGLIBSZWSZWZASZNKRLMGLHG...  186.393895

[546 rows x 3 columns]

In [ ]:
IF YOUTH THROUGHOUT ALL HISTORY HAD HAD A CHAMPION TO STANDUP FOR IT TO SHOW A DOUBTING WORLD THAT A CHILD CAN THINK AND POSSIBLY DO IT PRACTICALLY YOU WOULDNT CONSTANTLY RUN ACROSS FOLKS TODAY WHO CLAIM THAT A CHILD DONT KNOW ANYTHING A CHILDS BRAIN STARTS FUNCTIONING AT BIRTH AND HAS AMONGST ITS MANY INFANT CONVOLUTIONS THOUSANDS OF DORMANT ATOMS INTO WHICH GOD HAS PUT A MYSTIC POSSIBILITY FOR NOTICING AN ADULTS ACT AND FIGURING OUT IT SPURPORT